body {
    background: white;
    font-family: source-serif-pro, sans-serif;
}

#main {
    max-width: 450px;
    margin: auto auto;
}

.post-link {
    color: royalblue;
}

.post h1 {
    font-family: hobeaux, source-serif-pro, sans-serif;
}

.post h1 em {
    font-family: adobe-handwriting-frank, monospace;
    font-size: 22px;
}

.hand {
    font-family: adobe-handwriting-frank, monospace;
    font-size: 18px;
}

.post-link:hover {
    color: royalblue;
}

.post h3 {
    font-family: adobe-handwriting-frank, monospace;
}

.post {
    margin-bottom: 50px;
}

hr {
    border: none;
    border-bottom: 1px solid #eee;
}