<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="alternate" type="application/atom+xml" title="Rob’s Blog Feed" href="/feed.xml">
  <title>Rob’s Blog</title>
  <link rel="stylesheet" href="https://use.typekit.net/pym2cca.css">
  <link href="/assets/style.css?t=9" rel="stylesheet">
</head>
<body>
<div id="main">
<div><em class="hand" style="margin-top: 50px">(Notes to self)</em></div>
{% for post in posts %}
    <div class="post">
        <h1><em>{{ post[0] }}</em><br/><a class="post-link" href="/posts/{{ post[0] }}.html">{{ post[1]["title"] }}</a></h3>
        
    </div>
{% endfor %}
</div>
</body>