<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="alternate" type="application/atom+xml" title="Rob’s Blog Feed" href="/feed.xml">
  <title>Rob’s Blog — {{ post[0] }}</title>
  <link rel="stylesheet" href="https://use.typekit.net/pym2cca.css">
  <link href="/assets/style.css?t=8" rel="stylesheet">
</head>
<body>
<div id="main">
    <div class="post">
        <h1>{{ post[1]["title"] }}</h1>
        <h3>{{ post[0] }}</h3>
        <div>
            {{ post[1].content }}
        </div>
    </div>
</div>
</body>